*{
    margin: 0;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    background: url(/images/Pixel\ Art\ Gif\ Wallpaper\ Wallpaper\ Keren.gif) no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: rgba(0, 0, 0, 0.479);
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    gap: 30px;
}

.box h1{
    font-size: 35pt;
    color: white;
}

.form-check-input mt-0{
    padding-bottom: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn btn-danger{
    border-radius: 5px;
}

#newdiv{
    background: transparent;
    border: none;
    color: white;
    gap: 25px;
}


